<div class="container-fluid main mt-2">
  <div class="container">
    <h2 class="title my-2 px-5">
      Welcome to the add-n app.
    </h2>
    <p class="text-muted my-2">
      Start beating a steady rhythm. Read the four digits aloud. Wait for two beats, then report a string in which each of the original digits is incremented by n(1,2,3 etc.). If the digits on the card are 5294, the correct response is 6305. Keeping the rhythm is important.
    </p>

    <app-display></app-display>
    
  </div>
</div>