<div class="mt-4">
  <div class="numCounter">
    <b>{{nums[0]}}</b>
    <b>{{nums[1]}}</b>
    <b>{{nums[2]}}</b>
    <b>{{nums[3]}}</b>
  </div>
</div>
<div class="text-center button-group mt-3">
  <button class="btn btn-primary" (click)="start()">Start</button>
  <button class="btn btn-danger" (click)="stop()">Stop</button>
  <!-- <button class="btn btn-info" (click)="program(60000)">Countdown 1min</button> -->
  <select class="time-select form-control" (change)="onchange($event)">
    <option value="1000">1s</option>
    <option value="2000">2s</option>
    <option value="3000">3s</option>
    <option value="4000">4s</option>
    <option value="5000" selected>5s</option>
    <option value="6000">6s</option>
    <option value="7000">7s</option>
    <option value="8000">8s</option>
    <option value="9000">9s</option>
    <option value="10000">10s</option>
  </select>
</div>